<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<div class="content-header">
    <div>
        <h2 class="content-title card-title">ALL Users </h2>
    </div>
</div>


<div class="card mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user,index)=> {%>
                        <tr>
                            <td>
                                <%=index+1%>
                            </td>
                            <td><b>
                                    <%=user.name%>
                                </b></td>
                            <td>
                                <%=user.email%>
                            </td>
                            <td>
                                <%=user.phone%>
                            </td>

                            <td>
                                <% if (user.blocked){%> <span class="badge rounded-pill alert-success"> Blocked</span>
                                    <%}else{%><span class="badge rounded-pill alert-danger"> Active</span>
                                        <%}%>
                            </td>
                            <td>
                                <% if (user.blocked){%>
                                    <a href="/admin/unblock-user/<%= user._id %>"
                                        class="btn btn-sm btn-danger rounded font-sm block-btn w-100"
                                        >UNBLOCK</a>
                                    
                                    <%}else{%>
                                        <a href="/admin/block-user/<%= user._id %>"
                                            class="btn btn-sm btn-success rounded font-sm unblock-btn w-100"
                                          >BLOCK</a>
                                        
                                        <%}%>
                            </td>

                        </tr>
                        <%}) %>
                </tbody>
            </table>
        </div> <!-- table-responsive //end -->
    </div> <!-- card-body end// -->
</div> <!-- card end// -->
<div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <li> </li>
        </ul>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

