<section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-25">
            <h4>Select Your Address</h4>
          </div>
  
          <br />
  
          <% if (addresses.length!=0) { %>
            <form action="/checkout_pg" method="post" id="checkout-form">
                <% addresses.forEach(function(addresses) { %>
                  <div>
                    <div class="payment_option">
                      <div
                        class="list-group-item"
                        style="border-radius: 1rem; padding: 1.5rem; margin-bottom: 2rem;"
                      >
                        <div class="list-group-item-heading">
                          <div class="row radio">
                            <div class="col-xs-3">
                              <label>
                                <input
                                  type="radio"
                                  name="addresses"
                                  id="addresses1"
                                  value="<%=addresses._id%>"
                                  style="height: 1.2rem; width: 1.2rem"
                                  checked
                                />
                                <%=addresses.fname%> <%=addresses.lname%>
                              </label>
                            </div>
                            <div class="col-xs-5">
                              <div class="address-details">
                                <dl class="dl-small">
                                  <dt><%=addresses.street%></dt>
                                  <dd><%=addresses.apartment%></dd>
                                  <dd><%=addresses.city%></dd>
                                  <dd><%=addresses.state%></dd>
                                  <dd><%=addresses.pincode%></dd>
                                  <dd><%=addresses.mobile%></dd>
                                  <dd><%=addresses.email%></dd>
                                </dl>
                              </div>
                            </div>
                            <div class="col-xs-4">
                              <div class="edit-delete-buttons">
                                <a href="/add_address" class="btn btn-sm btn-primary">Edit</a>
                                <button class="btn btn-sm btn-link">Delete this address</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            <% }) %>
            <div class="payment_method">
              <p>Payment Method</p>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment-method"
                  value="COD"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  COD
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment-method"
                  value="razorpay"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Razorpay
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment-method"
                  value="paypal"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Paypal
                </label>
                <div id="paypal"></div>
              </div>
              <div class="form-group">
                <input name="user" value="" type="hidden" />
              </div>
            </div>
            <button type="submit" class="btn btn-fill-out btn-block mt-30">
              Proceed to payment
            </button>
          </form>
          <%} else {%>

            
            
            <h2>No Address Added</h2>
        <%}%>
  
         
  
          <br />
          <div
            style="
              width: 35rem;
              height: 3rem;
              background-color: whitesmoke;
              padding: 20px;
            "
          >
            <a href="/add_address"> <h5>+ Add an address</h5></a>
          </div>
        </div>
          
  
        <div class="col-md-6">
          <div class="order_review">
            <div class="mb-20">
              <h4>Your Orders</h4>
            </div>
            <div class="table-responsive order_table text-center">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Product</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                 
                    <% cartItems.forEach(function(cartItems){%>
                        <tr>
                          <td class="image product-thumbnail">
                            <img src="/uploads/<%=cartItems.cartItems.image %>" />
                          </td>
                          <td>
                            <h5>
                              <a href="shop-product-full.html"
                                ><%=cartItems.cartItems.productName%></a
                              >
                            </h5>
                            <span class="product-qty"> x<%=cartItems.quantity%></span>
                          </td>
                          <td>Rs.<%=cartItems.cartItems.price%></td>
                        </tr>
                        <%}) %>
        
  
                  <!-- <tr>
                <th>SubTotal</th>
                <td class="product-subtotal" colspan="2">$280.00</td>
            </tr> -->
                  <tr>
                    <th>Shipping</th>
                    <td colspan="2"><em>Free Shipping</em></td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td colspan="2" class="product-subtotal">
                      <span class="font-xl text-brand fw-900">Rs.<%=total%></span>
                    </td>
                  </tr>
                </tbody>
              </table>
             
          </div>
        </div>
        <br>
        <br>
        
        
      </div>
    </div>
  </section>

  <script>

$('#checkout-form').submit((e) => {
    e.preventDefault();

    $.ajax({
      url: '/checkout_pg',
      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {
        if (response.codstatus == true) {
          location.href = '/order_success';
        } else {
          razorpay(response);
          console.log(response);
          console.log(response.amount);


        }
      },
    });
  });
  
  function razorpay(order) {
    console.log(order);
    var options = {
      "key": "rzp_test_qJ7nQBOCs3XFfx", // Enter the Key ID generated from the Dashboard
      "amount": Number(order.amount), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise,
      "currency": "INR",
      "name": "A2Z Ecommerce",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {
        //   alert(response.razorpay_payment_id);
        //   alert(response.razorpay_order_id);
        //   alert(response.razorpay_signature)
        verifypayment(response, order)
      },
      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    var rzp1 = new Razorpay(options)
    rzp1.open();

  }

  function verifypayment(payment, order) {
    console.log(payment,order,"pppppayyyyyyymmmment");
    $.ajax({
      url: '/verify_payment',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {
        console.log(response,"rrrrrrrrrrrrrrrrrrrr");
        if (response.status) {
          location.href = '/order_success';
        } else {

        }

      }
    })
  }
  
  </script>
  
  